      {% raw %}
      <script id="entry-template" type="text/x-handlebars-template">
        <ol type="1">
            {{#each data}}
          <div>
            <li>
              <div class="row">
                <div class="col-8 text-left">
                  <span class="foresentence{{@index}}">
                    <button id="foresentence{{@index}}" onclick='showFore("{{escp foresentence}}", "foresentence{{@index}}")'>...</button>
                  </span>
                  {{#if korsentences}}
                  {{korsentences}}
                  {{else}}
                  {{engsentences}}
                  <span class="lastsentence{{@index}}">
                    <button id="lastsentence{{@index}}" onclick='showLast("{{escp foresentence}}", "lastsentence{{@index}}")'>...</button>
                  </span>
                  <br> 
                  {{/if}}
                  {{result}}
                </div>

                <div class="col-4"> 
                  <!-- Card -->
                  <div class="card">
                    <!-- Card content -->
                    <div class="card-body">
                
                      <!-- Title -->
                      <div class="form-inline">
                        <h6 class="card-title">Tags</h6> <br>
                        
                        <!-- Text -->
                        {{#if isShowTags}}
                        <p class="card-text">
                          {{#each tags}}
                            <span id="tag{{@index}}" class="badge badge-pill badge-default">{{this}}</span>
                          {{/each}}
                        </p>
                        {{else}}
                          <!-- Button -->
                          <a onclick="showTags({{tid}}, {{cue}}, '{{lang}}')" class="btn btn-sm btn-default ml-5">
                            Click<i class="fas fa-magic ml-1"></i>
                          </a>
                        {{/if}}
                      </div>
                    </div>
                    
                  </div>
                  <!-- Card -->
                </div>
              </div>
              <br>
            </li>
          </div>
          {{/each}}
        </ol>
      </script>
      {% endraw %}



<script>
        var currentData = null;

function showTags(tid, cue) {
    var d = currentData.find( function(t) { return t.cue == cue && t.tid== tid });
    d.isShowTags = true;
    // {data: currentData}가 표준, {currentData}도 가능하지만 표준을 사용하는 게 좋다.
    render(dataTemplate, {data:currentData}, 'result')
  }
  
var dataTemplate = null;
function hbs(sourceId, data, resultId) {
    var source = document.getElementById(sourceId).innerHTML;
    var template = Handlebars.compile(source);
// dataTemplate에 template( compile을 한 번만 하기 위해서 (다시 compile하지 말라는 뜻))
    if (resultId === 'result')
      dataTemplate = template;
   render(template, data, resultId)
}

function render(template, data, resultId) {
  document.getElementById(resultId).innerHTML = template(data);
}


$('#korsearch').click( function() {
  var s = $('#ksearchwords').val()
  if (!s) {
    alert("다시 입력하세요!")
  }
  else {
    $.ajax({
      url: '/korsearch/' + $('#ksearchwords').val(),
      type: 'GET'
    }).done(function(data) {
      console.log("data>>>>>", data)
      console.log("length>>>", data.length)
      currentData = data;
      // data:currentData
      hbs("entry-template", {data:currentData}, 'result')
    }).fail(function(res) {
        console.log("Error!!", res)
    })
  }
})

</script>









$('#loadChcklist').click( function() {
  $.ajax({
      url : '/checklist/{{userid}}',
      type : 'GET'
  }).done(function (res) {
      console.log("res>>>>>>", res)
      chckdata = res;
      console.log("checkdata>>>>>", chckdata)
      hbs('name-template', {chckdata:chckdata}, 'namelist')
  }).fail(function(res) {
      console.log("Error!!! ", res)
  })
});




{%call modalmcr('default', 'loadMemo', 'mload', 'Memo 불러오기', 'mloadModal', '선택해주세요', 'button')%}
{%raw%}
<script id="name-template" type="text/x-handlebars-template">
    {{#each 데이터이름}}
    <option value="{{@index}}">{{name}}</option>
    {{/each}}
</script>
{%endraw%}
<select id="memolist" name="memolist" class="browser-default custom-select">
</select>
<div id="mdel">
    <button id="mdelcheckBtn" class="btn btn-sm btn-danger" style="display:none">Memo 삭제하기</button>
</div>
{%endcall%}
<!-- Text -->
<p class="card-text">

</p>



$('#load').click(function() {
  $('#delcheckBtn').show()
  var chck = $('#namelist option:selected').text();
  loadJson['name'] = chck;
  $.ajax({
      url : '/posting/write/checklist',
      data : JSON.stringify(loadJson),
      type : 'POST',
      contentType:"application/json",
      dataType: 'json'
  }).done( function (res) {
      console.log("Res>>>>>> ", res)
      loadData = res;
      console.log("loaddata>>>", loadData)
      hbs('check-template', {loadData:loadData}, 'check-result')
      closeModal('loadModal')
  }).fail( function(res) {
      console.log("Error!", res)
  })
});


$('#delcheckBtn').click( function() {
  delAjax('/checklist/delete/{{userid}}/'+String(loadData['id']), function ddddd() {
      $('#check-result').text('')
  })
})


delAjax('/checklist/delete/{{userid}}/'+String(deldata), function ddddd() {
  $('#check-result').text('')
})

<button id="savebtn" type="button" class="btn btn-sm btn-default float-right">
    저장하기
</button>

newCheck['content'] = $('#checkarea' + ids).text().trim().split("     ")
sendAjax('/checklist/edit/{{userid}}/' + ids, 'POST', newCheck, function(res) {
    console.log(res)
    return
})