{% extends 'layout.htm'%}
{%block main%}
<div class="row mt-5">
    <div class="container">
        <form method="GET" action="/write/edit/{{userid}}/{{postid}}">
        <div id="postdetail" class="mt-5 card-body">
            <script id="detail-template-{{userid}}" type="text/x-handlebars-template">
                {% raw %}
                    <div class="row">
        
                        <div class="col-lg-9 h5 "><strong>{{title}}</strong></div>
                        <div class="col-lg-3 float-right">{{datefmt date_posted}}</div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3 float-right">
                            written by <strong>{{username}}</strong>
                        </div>
                    </div>
                    <hr>
                    <div class="float-right">
                        <button id="revisionBtn" type="submit" class="btn btn-primary">수정하기</button>
                    </div>
                    <div id="content" name="content">
                        <p>{{content}}</p>
                    </div>
                {% endraw %}
            </script>
        </div>
    </form>
    </div>    
</div>
<script>
var data = {};
$(document).ready( function() {
    getAjax('/posting/{{userid}}/{{postid}}', 'GET', function(res) {
        var source = document.getElementById('detail-template-{{userid}}').innerHTML;
        var template = Handlebars.compile(source);
        var html = template(res);
        document.getElementById('postdetail').innerHTML = html;
        var c = $('#content')
        c.html(c.text().trim().replace(/\n/g, '<br>'))            
    })
})


</script>

{%endblock main%}