{%extends 'layout.htm'%}
{%block main%}

<div class="container mt-5 pt-5">
    
    <!-- Card deck -->
<div class="mt-5 card-deck text-center">

        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
            <a href="javascript:void()">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body d-flex flex-column">
      
            <!--Title-->
            <h4 class="card-title">Corpus</h4>
            <!--Text-->
            <p class="card-text mb-auto">
              Real-world English from TED.com <br>
              Check out if your words & phrases & sentences are used in TED Talks <br>
              You can also check various fields that those words are used in.<br>
              Jot down something while checking your words!  
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="/corpus"><button type="button" class="btn btn-primary btn-md">Go to Corpus</button>
            </a>
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
            <a href="javascript:void()">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body d-flex flex-column">
      
            <!--Title-->
            <h4 class="card-title">Compare</h4>
            <!--Text-->
            <p class="card-text mb-auto">Compare two words or phrases to decide which fits best for your essays.<br>
            It also tells you frequency of use.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="/compare">
              <button type="button" class="btn btn-md btn-primary waves-effect waves-light align-items-end justify-content-end">Go to Compare</button>
            </a>
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
            <a href="javascript:void()">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body d-flex flex-column">
      
            <!--Title-->
            <h4 class="card-title">Portfolio</h4>
            <!--Text-->
            <p class="card-text mb-auto">Post your essays from first draft to final draft. <br>
            After revising your draft, you can compare it with previous draft.<br>
            Don't forget to check your checklist and memo while writing your essay!</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="/posting"><button type="button" class="btn btn-primary btn-md">Go to Porforlio</button>
            </a>
          </div>
      
        </div>
        <!-- Card -->
      
      </div>
      <!-- Card deck -->
    </div>

{%endblock main%}

