
{%extends 'layout.htm'%}
{%block main%}

  <!--Main layout-->
<main class="mt-5 pt-5">
  <div class="container">

    <!--Section: Post-->
    <section class="mt-4">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="mb-4">

          <!--Featured Image-->
          <div class="card mb-4 wow fadeIn">

            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg" class="img-fluid" alt="">

          </div>
          <!--/.Featured Image-->
          <script id="table-template-{{userid}}" type="text/x-handlebars-template">
            {% raw %}
              {{#each data}}  
                <tr>
                  <td>{{postid}}</td>
                  <td>{{username}}</td>
                  <td><a href="/posting/detail/{{user_id}}/postid={{postid}}">{{title}}</a></td>
                  <td>{{datefmt date_posted}}</td>

                  <td>
                  <div class="custom-control custom-checkbox ml-2">
                      <input no ="{{@index}}" type="checkbox" class="custom-control-input" id="check{{postid}}">
                      <label class="custom-control-label" for="check{{postid}}"></label>
                  </div>
                  </td>
                </tr>
              {{/each}}
            {% endraw %}
          </script>
          <div class="row float-right">
            <div>
              <button class="btn btn-info btn-md" type="button" onclick="comparetwo()"> 비교하기 </button>
            </div>
            <div>
            <a class="btn btn-info btn-md" href="/posting/write"> 글쓰기 </a>
            </div>
          </div>
          <table id="postingtable" class="table table-hover">
              <thead>
                  <tr>
                  <th scope="col">No</th>
                  <th scope="col">작성자</th>
                  <th scope="col">Title</th>
                  <th scope="col">Date</th>
                  <th scope="col">비교</th>
                  </tr>
              </thead>
              <tbody id="postingbody-{{userid}}">
              </tbody>
          </table>
          <!--Card-->

            <div class="col card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body">

                <p class="h5 my-4 text-center">비교</p>

                <p id="compare-content">비교하고 싶은 글을 최대 2개 선택해주세요.</p>


              </div>

            </div>
            <!--/.Card-->



          <!--Comments-->
          <div class="card card-comments mb-3 wow fadeIn">
            <div class="card-header font-weight-bold">3 comments</div>
            <div class="card-body">

              <div class="media d-block d-md-flex mt-4">
                <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" alt="Generic placeholder image">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                  <h5 class="mt-0 font-weight-bold">Miley Steward
                    <a href="" class="pull-right">
                      <i class="fas fa-reply"></i>
                    </a>
                  </h5>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                  <div class="media d-block d-md-flex mt-3">
                    <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg"
                      alt="Generic placeholder image">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                      <h5 class="mt-0 font-weight-bold">Tommy Smith
                        <a href="" class="pull-right">
                          <i class="fas fa-reply"></i>
                        </a>
                      </h5>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                      laudantium, totam rem aperiam, eaque
                      ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                      sunt explicabo.
                    </div>
                  </div>

                  <!-- Quick Reply -->
                  <div class="form-group mt-4">
                    <label for="quickReplyFormComment">Your comment</label>
                    <textarea class="form-control" id="quickReplyFormComment" rows="5"></textarea>

                    <div class="text-center">
                      <button class="btn btn-info btn-sm" type="submit">Post</button>
                    </div>
                  </div>


                  <div class="media d-block d-md-flex mt-3">
                    <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (21).jpg"
                      alt="Generic placeholder image">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                      <h5 class="mt-0 font-weight-bold">Sylvester the Cat
                        <a href="" class="pull-right">
                          <i class="fas fa-reply"></i>
                        </a>
                      </h5>
                      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                      sed quia non numquam eius modi
                      tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    </div>
                  </div>
                </div>
              </div>
              <div class="media d-block d-md-flex mt-3">
                <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg" alt="Generic placeholder image">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                  <h5 class="mt-0 font-weight-bold">Caroline Horwitz
                    <a href="" class="pull-right">
                      <i class="fas fa-reply"></i>
                    </a>
                  </h5>
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                  deleniti atque corrupti
                  quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                  similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                  fuga.
                </div>
              </div>

            </div>
          </div>
          <!--/.Comments-->

          <!--Reply-->
          <div class="card mb-3 wow fadeIn">
            <div class="card-header font-weight-bold">Leave a reply</div>
            <div class="card-body">

              <!-- Default form reply -->
              <form>

                <!-- Comment -->
                <div class="form-group">
                  <label for="replyFormComment">Your comment</label>
                  <textarea class="form-control" id="replyFormComment" rows="5"></textarea>
                </div>

                <!-- Name -->
                <label for="replyFormName">Your name</label>
                <input type="email" id="replyFormName" class="form-control">

                <br>

                <!-- Email -->
                <label for="replyFormEmail">Your e-mail</label>
                <input type="email" id="replyFormEmail" class="form-control">


                <div class="text-center mt-4">
                  <button class="btn btn-info btn-md" type="submit">Post</button>
                </div>
              </form>
              <!-- Default form reply -->



            </div>
          </div>
          <!--/.Reply-->

        </div>
        <!--Grid column-->



      </div>
      <!--Grid row-->

    </section>
    <!--Section: Post-->

  </div>
</main>
<!--Main layout-->

<script>

Handlebars.registerHelper('datefmt', function (dt) {
  var m = moment(dt);
  // format으로 출력한다
  var output = m.format("YYYY MMMM Do, a h:mm");

  return output; // 4월 12일 2019, 4:00:26 오후 
  }); 
var data = {}
var len = null;
var dataTemplate = null;

function hbs(sourceId, data, resultId) {
  var source = document.getElementById(sourceId).innerHTML;
  var template = Handlebars.compile(source);
  if (resultId === 'postingbody-{{userid}}'){
      // dataTemplate에 template( compile을 한 번만 하기 위해서 (다시 compile하지 말라는 뜻))
      dataTemplate = template;
    }    
    render(template, data, resultId)
  }
function render(template, data, resultId) {
  document.getElementById(resultId).innerHTML = template(data);
  } 

$(document).ready(
  $.ajax({
    url : '/posting/lists/{{userid}}',
    type : 'GET' 
  }).done(function(res) {
    len = res.length;
    data = res;
    hbs("table-template-{{userid}}", {data:data}, 'postingbody-{{userid}}')
  }).fail(function(res) {
    console.log("Error!!", res)
  })
)


var htmls = {};
var a = 1;
function comparetwo() {
  var chckcnt = [];
  for (var k=1; k <= data.length; k++) {
    var chckbox = $('#check'+ String(k)+':checked');
    if (chckbox.length == 1){
      chckcnt.push(k);
      if (chckcnt.length > 2) {
        alert("두 개까지만 선택해주세요!")
        chckbox.prop("checked", false)
        return 
      }
      var htm = data[k-1]['content'];
      htmls[String(a)]=htm;
      a = a + 1;
    }
  }
  $.ajax({
    url:'/posting/compare',
    data : JSON.stringify(htmls), 
    type : 'POST',
    contentType:"application/json",
    dataType: 'json'
    }).done(function (res) {
      console.log("HTML>>>>>>>>", res)
      var h = res['HTML'];
      $('#compare-content').html(h);
      $('td.diff_next').remove() 
      $('table:nth-child(2) tbody tr:nth-child(2) td:nth-child(2) table').remove()
      $('body > table:nth-child(2) > tbody > tr:nth-child(1) > th').remove() 
      $('body > table:nth-child(2) > tbody > tr:nth-child(2) > td:nth-child(1) > table > tbody > tr:nth-child(2) > td').text('추가됨') 
      $('body > table:nth-child(2) > tbody > tr:nth-child(2) > td:nth-child(1) > table > tbody > tr:nth-child(3) > td').text('바뀜')
      $('body > table:nth-child(2) > tbody > tr:nth-child(2) > td:nth-child(1) > table > tbody > tr:nth-child(4) > td').text('삭제됨')
      $('table.diff').css('font-family', 'Times New Roman')
      $('td.diff_header').css('text-align', 'center')
    }).fail(function(res) {
      console.log("ERRR>>>>>>", res)
    })
}

</script>


{%endblock main%}