
{%extends 'layout.htm'%}
{%from "macro/modalmacro.htm" import modalmcr%}
{%block main%}

  <!--Main layout-->
<main class="mt-5 pt-5">
  <div class="container">
    <!--Section: Post-->
    <section class="mt-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="mb-4">
          <!--Featured Image-->
          <div class="card mb-4 wow fadeIn">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg" class="img-fluid" alt="">
          </div>
          <!--/.Featured Image-->
          <script id="table-template-{{userid}}" type="text/x-handlebars-template">
            {% raw %}
              {{#each data}}  
                <tr id="{{postid}}">
                  <td>{{numbering @index}}</td>
                  <td>{{username}}</td>
                  <td><a href="/posting/detail/{{user_id}}/postid={{postid}}">{{title}}</a></td>
                  <td>{{datefmt date_posted}}</td>

                  <td>
                  <div class="custom-control custom-checkbox ml-2">
                      <input no ="{{@index}}" type="checkbox" class="custom-control-input" id="check{{@index}}">
                      <label class="custom-control-label" for="check{{@index}}"></label>
                  </div>
                  </td>
                  <td>
                    <div class="custom-control custom-checkbox ml-2">
                        <input type="checkbox" name="delcheckbox" class="custom-control-input" id="del{{@index}}">
                        <label class="custom-control-label" for="del{{@index}}"></label>
                    </div>
                  </td>
                </tr>
              {{/each}}
            {% endraw %}
          </script>
          <div class="row float-right">
            <div>
              <button class="btn btn-info btn-md" type="button" onclick="comparetwo()"> 비교하기 </button>
            </div>
            <div>
            <a class="btn btn-info btn-md" href="/posting/write"> 글쓰기 </a>
            </div>
            {% call modalmcr('danger','delbtn', 'del','삭제하기','delconfirmmodal', '정말 삭제하시겠습니까?', 'button', 'delPost()') %}
            {% endcall%}
          </div>
          <table id="postingtable" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">작성자</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">비교</th>
                <th scope="col">삭제</th>
              </tr>
            </thead>
            <tbody id="postingbody-{{userid}}">
            </tbody>
          </table>
        </div>
      </div>
      <!--Grid row-->
          
      <!--Card-->
      <div class="row">
        <div class="col-lg-9 card mb-4 wow fadeIn">
          <!--Card content-->
          <div class="card-body px-0">
            <p class="h5 my-4">비교</p>
            <p id="compare-content">비교하고 싶은 글을 최대 2개 선택해주세요.</p>
          </div>
        </div>
        <!--/.Card-->
        <!-- Card -->
        <div class="card col-lg-2 mb-4 ml-4 " style="position:sticky; right:50px; top:100px;height:20em; width:20px;">

          <!-- Card content -->
          <div class="card-body px-3">
              <!-- Title -->
              <div class="md-form" id="hideInput">
                <h4 class="card-title"> 
                <i class="fas fa-user prefix"></i>
                <input type="text" id="newchecklist" class="form-control">
                <label id = "newchecklistlabel" for="newchecklist"></label>
                </h4>
              </div>
              <div class="md-form" id="newchecklistarea">
                <h4 id="checktitle" class="card-title"> 
              </div>
                <!-- Material input -->
              <div id="afteradd" class="row">
                <div class="md-form w-75">
                  <i class="fas fa-user prefix"></i>
                  <input type="text" id="newcheck" class="form-control">
                  <label for="newcheck">추가하기</label>
                </div>
                  <button type="button" id="newcheckbtn" class="btn btn-sm btn-default px-3 text-right">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                  </button>
              </div>
              <div id="checkarea">
  
              </div>
              <div class="container">
                  <button id="savebtn" type="button" class="btn btn-sm btn-default float-right">
                      저장하기
                  </button>
                <div>
                  <button id="newbtn" class="btn btn-sm btn-primary px-3 float-right" style="display:none" type="button" >새로 만들기</button>
                </div>
              </div>
            </div>
  
  

          
          
          
          
          

        </div>
      </div>
    </section>
  </div> 
    <!--Section: Post-->
</main>
<!--Main layout-->

<script>

Handlebars.registerHelper('numbering', function(num) {
  return num + 1
})

$('button#newbtn').click(function() {
  $('#newchecklistarea').hide()
  $('#checkarea').empty()
  $('button#newbtn').hide()
  $('#savebtn').show()
  var titletxt = $('#newchecklist').val()
  $('#checktitle').text(titletxt)
  $('#hideInput').show()
  $('input#newchecklist').val('')
  $('#afteradd').show()
})

function newchecklist() {
  var labelName = $('#newchecklist').val();
  if ($('#newchecklist').val() == '') {
    alert('체크리스트의 이름을 정해주세요!!!')
    return
  }
  $('#newchecklistarea').show()
  $('#checktitle').html('<h4>' + labelName + '</h4>')
  $('#hideInput').hide()

}

var ids = 1;
$('#newcheckbtn').click( function() {

  var txt = $('#newcheck').val();
  $('#newcheck').val('');
  var htmls = '<div class="custom-control custom-checkbox" name="checklist" id="checkboxarea' + String(ids) + '"> \
  <input type="checkbox" class="custom-control-input checknew" id="checknew' + String(ids) + '"' + '>\
  <label class="custom-control-label checknew" id="newlabel' + String(ids) + '"' + '\
  for="checknew' + String(ids) + '"> </label> <span class="badge badge-danger float-right"><i class="fas fa-times" aria-hidden="true"></i></span> </div>';
  $(htmls).appendTo('#checkarea')
  $('#newlabel' + String(ids)).text(txt);
  ids = ids + 1;
  delList();
  $('input.checknew').change( function() {
    setYellow();
  })
});

function delList() {
  $("div[name] span").click( function() {
    $(this).closest("div").remove()
  })
}


function setYellow() {
  $('input.checknew').each(function () {
    $(this).next('label').css('background-color', 'white');
  })
  
  $('input.checknew:checked').each(function () {
    $(this).next('label').css('background-color', 'yellow');
  })
}

var savedata = {};
$('#savebtn').click( function() {

  newchecklist()
  var savedt = []
  var l = $('input.checknew').next('label').length;
  if (l == 0) {
    alert("체크리스트를 먼저 만들어주세요!")
    return
  } 

    $("#checkarea label").each(function(){    
        savedt.push($(this).text());
      })
    savedata['checklist'] = savedt
    savedata['name'] = $('#newchecklistarea').text().trim();

    sendAjax('/posting/save/{{userid}}', 'POST', savedata, function(res) {
      if (res['status'] === 'fail') {
        alert('저장에 실패했습니다! 다시 시도해주세요')
      }
      else {
        $('#newbtn').css('display', 'block')
        $('#afteradd').hide()
        $('#savebtn').hide()
        $('div[name] button').hide()
        $('span.badge').hide()
      }
    })  

})





var data = {}
var len = null;
var dataTemplate = null;

function hbs(sourceId, data, resultId) {
  var source = document.getElementById(sourceId).innerHTML;
  var template = Handlebars.compile(source);
  if (resultId === 'postingbody-{{userid}}'){
      // dataTemplate에 template( compile을 한 번만 하기 위해서 (다시 compile하지 말라는 뜻))
      dataTemplate = template;
      render(template, data, resultId)
    }    
  } 


$(document).ready( function() {
  getAjax('/posting/lists/{{userid}}', 'GET', function(res) {
    len = res.length;
    data = res;
    console.log("Data>>>>>>", data)
    hbs("table-template-{{userid}}", {data:data}, 'postingbody-{{userid}}')    
  })
})



var htmls = {};
function comparetwo() {
  var chckcnt = [];
  var a = 1;
  for (var k=0; k < data.length; k++) {
    if ($("input:checkbox[id='check" + String(k) + "'" + "]").is(":checked") == true) {
      chckcnt.push(k);
      console.log("chckcnt>>>>>>>", chckcnt);
    }
  }

  if (chckcnt.length < 2) {
    alert('두 개를 선택해주세요!')
    chckcnt = [];
    return
  }
  else if(chckcnt.length > 2) {
    alert('두 개만 선택해주세요!')
    $('input:checkbox[id]').prop("checked", false)
    chckcnt = [];
    return
  }
  else {
    var i;
    for (i in chckcnt) {
      console.log("iiiiiii", i)
      var j = chckcnt[i];
      var htm = data[j]['content'];
      htmls[String(a)]=htm;
      a = a + 1;
      }
    }
    //urls, type, data, fn)
  sendAjax('/posting/compare', 'POST', htmls, function(res) {
    var h = res['HTML'];
      $('#compare-content').html(h);
      $('td.diff_next').remove() 
      $('table:nth-child(2) tbody tr:nth-child(2) td:nth-child(2) table').remove()
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(1) > th').remove()
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2) > td:nth-child(2) > table').remove() 
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2) > td:nth-child(1) > table > tbody > tr:nth-child(2) > td').text('추가됨')
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2) > td:nth-child(1) > table > tbody > tr:nth-child(3) > td').text('바뀜')
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2) > td:nth-child(1) > table > tbody > tr:nth-child(4) > td').text('삭제됨')
      $('table.diff').css('font-family', 'Arial')
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2)').css('text-align', 'left')
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2) > td:nth-child(1) > table').removeAttr('border')
      $('table[id]').attr('align','center')
      $('table[summary]').attr('align','right')
      $('table.diff[id]').wrap('<div id="tablediv">')
      $('table.diff').addClass('table')
      $('p#compare-content table.diff td').removeAttr('nowrap')
      $('table.diff.table colgroup').remove()
      $('div#tablediv').attr("style","word-wrap:break-word;")
      $('table.diff[id] td:nth-of-type(1)').attr('style','width:5%')
      $('table.diff[id] td:nth-of-type(2)').attr('style','width:45%')
      $('table.diff[id] td:nth-of-type(3)').attr('style','width:5%')
      $('table.diff[id] td:nth-of-type(4)').attr('style','width:45%')
  })
}

$('#delbtn').click( function() {
  if ($('input:checkbox[name="delcheckbox"]:checked').length == 0) {
    $('#delbtn').removeAttr('data-target')
    alert("삭제할 게시물을 선택해주세요!")
    return
  }
}); 


function delPost(userid) {
  var postids = $('tr[id]')
  var cnt = []
  for (var i=0; i<data.length; i++) {
    var postid = postids[i]['id'];
    if ($("input:checkbox[id='del" + String(i) + "'" + "]").is(":checked") == true){ 
      cnt.push(i)
      console.log("length>>>>>>>>", cnt.length)
      delAjax('/posting/delete/{{userid}}/' + postid, function location(res) {
        window.location.href = '/posting';
      });
    }
  }
}
  
  </script>


{%endblock main%}