
{%extends 'layout.htm'%}
{%block main%}

  <!--Main layout-->
<main class="mt-5 pt-5">
  <div class="container">

    <!--Section: Post-->
    <section class="mt-4">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="mb-4">

          <!--Featured Image-->
          <div class="card mb-4 wow fadeIn">

            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg" class="img-fluid" alt="">

          </div>
          <!--/.Featured Image-->
          <script id="table-template-{{userid}}" type="text/x-handlebars-template">
            {% raw %}
              {{#each data}}  
                <tr id="{{postid}}">
                  <td>{{@index}}</td>
                  <td>{{username}}</td>
                  <td><a href="/posting/detail/{{user_id}}/postid={{postid}}">{{title}}</a></td>
                  <td>{{datefmt date_posted}}</td>

                  <td>
                  <div class="custom-control custom-checkbox ml-2">
                      <input no ="{{@index}}" type="checkbox" class="custom-control-input" id="check{{@index}}">
                      <label class="custom-control-label" for="check{{@index}}"></label>
                  </div>
                  </td>
                  <td>
                    <div class="custom-control custom-checkbox ml-2">
                        <input type="checkbox" class="custom-control-input" id="del{{@index}}">
                        <label class="custom-control-label" for="del{{@index}}"></label>
                    </div>
                  </td>
                </tr>
              {{/each}}
            {% endraw %}
          </script>
          <div class="row float-right">
            <div>
              <button class="btn btn-info btn-md" type="button" onclick="comparetwo()"> 비교하기 </button>
            </div>
            <div>
            <a class="btn btn-info btn-md" href="/posting/write"> 글쓰기 </a>
            </div>

          <!-- modal -->
            <!-- Central Modal Small -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delconfirmmodal">
                삭제하기
            </button>
            <div class="modal fade" id="delconfirmmodal" tabindex="-1" role="dialog" aria-labelledby="delconfirm"
              aria-hidden="true">

              <!-- Change class .modal-sm to change the size of the modal -->
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">확인 메시지</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    정말 삭제하시겠습니까?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">아니오</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="delPost()">예</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Central Modal Small -->
          <!-- /modal -->






          </div>
          <table id="postingtable" class="table table-hover">
              <thead>
                  <tr>
                  <th scope="col">No</th>
                  <th scope="col">작성자</th>
                  <th scope="col">Title</th>
                  <th scope="col">Date</th>
                  <th scope="col">비교</th>
                  <th scope="col">삭제</th>
                  </tr>
              </thead>
              <tbody id="postingbody-{{userid}}">
              </tbody>
          </table>
          <!--Card-->

            <div class="col card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body text-center">

                <p class="h5 my-4">비교</p>

                <p id="compare-content">비교하고 싶은 글을 최대 2개 선택해주세요.</p>


              </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->



      </div>
      <!--Grid row-->

    </section>
    <!--Section: Post-->

  </div>
</main>
<!--Main layout-->

<script>

Handlebars.registerHelper('datefmt', function (dt) {
  var m = moment(dt);
  // format으로 출력한다
  var output = m.format("YYYY MMMM Do, a h:mm");

  return output; 
  }); 
var data = {}
var len = null;
var dataTemplate = null;

function hbs(sourceId, data, resultId) {
  var source = document.getElementById(sourceId).innerHTML;
  var template = Handlebars.compile(source);
  if (resultId === 'postingbody-{{userid}}'){
      // dataTemplate에 template( compile을 한 번만 하기 위해서 (다시 compile하지 말라는 뜻))
      dataTemplate = template;
      render(template, data, resultId)
    }    
  } 
function render(template, data, resultId) {
  document.getElementById(resultId).innerHTML = template(data);
  } 

$(document).ready(
  $.ajax({
    url : '/posting/lists/{{userid}}',
    type : 'GET' 
  }).done(function(res) {
    len = res.length;
    data = res;
    console.log("Data>>>>>>", data)
    hbs("table-template-{{userid}}", {data:data}, 'postingbody-{{userid}}')
  }).fail(function(res) {
    console.log("Error!!", res)
  })
)


var htmls = {};
function comparetwo() {
  var chckcnt = [];
  var a = 1;
  for (var k=0; k < data.length; k++) {
    if ($("input:checkbox[id='check" + String(k) + "'" + "]").is(":checked") == true) {
      chckcnt.push(k);
      console.log("chckcnt>>>>>>>", chckcnt);
    }
  }

  if (chckcnt.length < 2) {
    alert('두 개를 선택해주세요!')
    chckcnt = [];
    return
  }
  else if(chckcnt.length > 2) {
    alert('두 개만 선택해주세요!')
    $('input:checkbox[id]').prop("checked", false)
    chckcnt = [];
    return
  }
  else {
    var i;
    for (i in chckcnt) {
      console.log("iiiiiii", i)
      var j = chckcnt[i];
      var htm = data[j]['content'];
      htmls[String(a)]=htm;
      a = a + 1;
      }
    }
  $.ajax({
    url:'/posting/compare',
    data : JSON.stringify(htmls), 
    type : 'POST',
    contentType:"application/json",
    dataType: 'json'
    }).done(function (res) {
      var h = res['HTML'];
      $('#compare-content').html(h);
      $('td.diff_next').remove() 
      $('table:nth-child(2) tbody tr:nth-child(2) td:nth-child(2) table').remove()
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(1) > th').remove()
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2) > td:nth-child(2) > table').remove() 
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2) > td:nth-child(1) > table > tbody > tr:nth-child(2) > td').text('추가됨')
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2) > td:nth-child(1) > table > tbody > tr:nth-child(3) > td').text('바뀜')
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2) > td:nth-child(1) > table > tbody > tr:nth-child(4) > td').text('삭제됨')
      $('table.diff').css('font-family', 'Arial')
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2)').css('text-align', 'center')
      $('#compare-content > table:nth-child(5) > tbody > tr:nth-child(2) > td:nth-child(1) > table').removeAttr('border')
      $('table[id]').attr('align','center')
      $('table[summary]').attr('align','right')
    }).fail(function(res) {
      console.log("ERRR>>>>>>", res)
    })
  }

function delPost(userid) {
  var postids = $('tr[id]')
  
  for (var i=0; i<=data.length; i++) {
    var postid = postids[i]['id']
    if ($("input:checkbox[id='del" + String(i) + "'" + "]").is(":checked") == true){ 
      $.ajax({
          url:'/posting/delete/{{userid}}/' + postid,
          type:'DELETE'
        }).done(function(res){
          console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!deleted")
          location.href='/posting'
        })
      }
    else {
      alert("삭제할 게시물을 선택해주세요!")
      $('#delconfirmmodal').modal('hide')
      return
    }
  }
};
  
  </script>


{%endblock main%}