{% extends 'layout.htm'%}
{%from "macro/modalmacro.htm" import modalmcr%}
{%block main%}
<div class="col container content-section ml-5 mt-5 pt-5">
        <div class="md-form col-9">
            <i class="fas fa-user prefix"></i>
            <input type="text" id="inputIconEx2" name = "title" class="form-control">
            <label for="inputIconEx2">Title</label>
        </div>
        <div class="row col-10 ml-4">
            <!-- Card -->
            <div class="col-5 card">
                <!-- Card content -->
                <div class="card-body text-center">
                    <!-- Title -->
                    <h4 class="card-title">메모</h4> <br>
                    <!-- Text -->
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="col-5 ml-5 card">
                <!-- Card content -->
                <div class="pb-1 card-body text-center">
                    <!-- Title -->
                    <div class="row">
                        <h4 class="card-title">체크리스트</h4>
                       
                    </div>
                    {%call modalmcr('default', 'loadChcklist', 'load', 'Checklist 불러오기', 'loadModal', '선택해주세요', 'button')%}
                    {%raw%}
                    <script id="name-template" type="text/x-handlebars-template">
                        {{#each chckdata}}
                        <option id="chck{{@index}}" value="{{@index}}">{{name}}</option>
                        {{/each}}
                    </script>
                    {%endraw%}
                    <select id="namelist" name="namelist" class="browser-default custom-select">
                    </select>
                    {%endcall%}
                    <div id="del">
                        <button id="delcheckBtn" class="btn btn-sm btn-danger" style="display:none">checklist 삭제하기</button>
                    </div>
                <!-- Card content -->
                </div>
                <div id="checklist" class="card-body">
                    {% raw %}
                    <script id="check-template" type="text/x-handlebars-template">
                    <h4 class="card-title"> {{loadData.name}} </h4>
                    <!-- Title -->
                    <!-- Default unchecked -->
                    {{# each loadData.checklist}}
                    <div id="check{{@index}}" class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="load{{@index}}">
                        <label class="custom-control-label" for="load{{@index}}">{{this}}</label>
                    </div>
                    {{/each}}
                    </script>
                    {% endraw%}
                    
                    <div id="check-result">
                    </div>
                </div>
            </div>
        </div>
            <!-- Card -->
        <!-- 텍스트 -->
        <div class="row">
            <div class=" col-9 md-form amber-textarea active-amber-textarea">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea class="form-control z-depth-1" name="content" id="exampleFormControlTextarea6" rows="30"></textarea>
            </div>
        </div>
        <div class="row ml-5">
            <div class="form-group text-right">
                <button class="btn btn-info" type="submit">Post</button>
            </div>
        </div>
</div>


<script>

$('#delcheckBtn').click( function() {
    delAjax('/checklist/delete/{{userid}}/'+String(loadData['id']), function ddddd() {
        $('#check-result').text('')
    })
})
function dddclick() {
    console.log("Aaa")
    
};

var chcktemplate;
var chckdata = {};
var nametemplate;
var loadtemplate;
function hbs(sourceId, data, resultId) {
    var source = document.getElementById(sourceId).innerHTML;
    var template = Handlebars.compile(source);
    if (resultId === 'checklist'){
        // dataTemplate에 template( compile을 한 번만 하기 위해서 (다시 compile하지 말라는 뜻))
        chcktemplate = template;
        render(chcktemplate, data, resultId)
    }
    else if(resultId === 'namelist') {
        nametemplate = template;
        render(nametemplate, data, resultId)
    }
    else if(resultId === 'check-result') {
        loadtemplate = template;
        render(loadtemplate, data, resultId)
    }
    
  } 
function render(template, data, resultId) {
  document.getElementById(resultId).innerHTML = template(data);
  } 


var loadData = {};
var loadJson = {};
$('#load').click(function() {
    $('#delcheckBtn').show()
    var chck = $('#namelist option:selected').text();
    loadJson['name'] = chck;
    $.ajax({
        url : '/posting/write/checklist',
        data : JSON.stringify(loadJson),
        type : 'POST',
        contentType:"application/json",
        dataType: 'json'
    }).done( function (res) {
        console.log("Res>>>>>> ", res)
        loadData = res;
        console.log("loaddata>>>", loadData)
        hbs('check-template', {loadData:loadData}, 'check-result')
        closeModal('loadModal')
    }).fail( function(res) {
        console.log("Error!", res)
    })
});

$('#loadChcklist').click( function() {
    $.ajax({
        url : '/checklist/{{userid}}',
        type : 'GET'
    }).done(function (res) {
        console.log("res>>>>>>", res)
        chckdata = res;
        console.log("checkdata>>>>>", chckdata)
        hbs('name-template', {chckdata:chckdata}, 'namelist')
    }).fail(function(res) {
        console.log("Error!!! ", res)
    })
});

</script>

{%endblock main%}