{% extends 'layout.htm'%}
{%from "macro/modalmacro.htm" import modalmcr%}
{%block main%}
<div class="container">
    <form method="POST" action="{{action}}">
    <div class="row col-lg-12 content-section mt-5 ml-4">
        <div class="md-form col-lg-12 mt-5">
            <i class="fas fa-user prefix"></i> 
            <input type="text" id="title" name = "title" class="form-control">
            <label for="inputIconEx2">&nbsp;&nbsp;&nbsp;&nbsp;Title</label>
        </div>
        <div class="container">
            <!-- Card -->
            <div class="row">
            <div class="col-lg-5 ml-5 card">
                <!-- Card content -->
                <div class="card-body text-center">
                    <!-- Title -->
                    <div class="row">
                        <h4 class="card-title">메모</h4>
                    </div>
                    {%call modalmcr('default', 'loadMemo', 'mload', 'Memo 불러오기', 'mloadModal', '선택해주세요', 'button')%}
                    <select id="memolist" name="memolist" class="browser-default custom-select">
                    </select>
                    {%endcall%}
                    <div>
                        <button id="delmemoBtn" type="button" class="btn btn-sm btn-danger" style="display:none">Memo 삭제하기</button>
                    </div>
                    
                </div>

                <div class="card-body">
                    {% raw %}
                    <script id="memo-template" type="text/x-handlebars-template">
                    <h4 class="card-title"> {{loadData.name}} </h4>
                    <!-- Title -->
                    <!-- Default unchecked -->
                    {{# each loadData.lists}}
                    <div class="custom-control custom-checkbox">
                        {{this}}
                    </div>
                    {{/each}}
                    </script>
                    {% endraw%}
                    
                    <div id="memo-result">
                    </div>
                </div>

            </div>
            <!-- Card -->

           <!-- Card -->
           <div class="col-lg-5 ml-5 card">
                <!-- Card content -->
                <div class="pb-1 card-body text-center">
                    <!-- Title -->
                    <div class="row">
                        <h4 class="card-title">체크리스트</h4>
                       
                    </div>
                    {%call modalmcr('default', 'loadChcklist', 'load', 'Checklist 불러오기', 'loadModal', '선택해주세요', 'button')%}
                    {%raw%}
                    <script id="name-template" type="text/x-handlebars-template">
                        {{#each data}}
                        <option value="{{@index}}">{{name}}</option>
                        {{/each}}
                    </script>
                    {%endraw%}
                    <select id="namelist" name="namelist" class="browser-default custom-select">
                    </select>
                    {%endcall%}
                    <div id="del">
                        <button id="delcheckBtn" type="button" class="btn btn-sm btn-danger" style="display:none">checklist 삭제하기</button>
                    </div>
                <!-- Card content -->
                </div>
                <div id="checklist" class="card-body">
                    {% raw %}
                    <script id="check-template" type="text/x-handlebars-template">
                    <h4 class="card-title"> {{loadData.name}} </h4>
                    <!-- Title -->
                    <!-- Default unchecked -->
                    {{# each loadData.lists}}
                    <div id="check{{@index}}" class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="load{{@index}}">
                        <label class="custom-control-label" for="load{{@index}}">{{this}}</label>
                    </div>
                    {{/each}}
                    </script>
                    {% endraw%}
                    
                    <div id="check-result">
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- 텍스트 -->
        <div class="container">
            <div class="row">
                <div class="md-form col-lg-12 amber-textarea active-amber-textarea">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea class="form-control z-depth-1" id="content" name="content" rows="30"></textarea>
                </div>
            </div>
        </div>
        <div class="container ml-4">
            <div class="row ml-5">
                {% if mode == "revision" %}
                    <div class="form-group text-right">
                        <button id="postBtn" class="btn btn-info" type="submit">수정하기</button>
                    </div>
                {% else %}
                    <div class="form-group text-right">
                        <button id="postBtn" class="btn btn-info" type="submit">POST</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </form>
</div>
</div>


<script>

var checkId;
var memoId;

loadList('load', 'delcheckBtn', 'namelist', '/posting/write/checklist', 'check-template', 'check-result', 'loadModal')
loadList('mload', 'delmemoBtn', 'memolist', '/posting/write/memolist', 'memo-template', 'memo-result', 'mloadModal')


function delList(btnId, url, deldata, result) {
    $('#' + btnId).click( function() {
        delAjax(url+String(deldata), function ddddd() {
            $('#' + result).text('');
            $('#' + btnId).hide()
        })

    })
}

var chcktemplate;
var nametemplate;
var loadtemplate;
function hbs(sourceId, data, resultId) {
    var source = document.getElementById(sourceId).innerHTML;
    var template = Handlebars.compile(source);
    if (resultId === 'checklist'){
        // dataTemplate에 template( compile을 한 번만 하기 위해서 (다시 compile하지 말라는 뜻))
        chcktemplate = template;
    }
    else if(resultId === 'namelist' | resultId === 'memolist')  {
        nametemplate = template;
        return
    }
    else if(resultId === 'check-result') {
        loadtemplate = template;
    }
    render(template, data, resultId)
  } 
function render(template, data, resultId) {
  document.getElementById(resultId).innerHTML = template(data);
  } 

function send_ajax(url, data, method, dataType, fn) {
    $.ajax({
    url : url,
    data : data, 
    type : method,
    dataType: dataType
    }).done(function (res) {
    console.log("res>>>", res)
    if (fn)
        fn(res)
    }).fail(function (xhr, status, errorThrown) {
    console.error("Error!", xhr, status, errorThrown)
    }).always(function (xhr, status) {
    console.log("request complete")
    });
}

function loadList(btnId, delbtnId, listId, url, templateId, resultId, modalId) {
    var loadJson = {};
    $('#' + btnId).click(function() {
    $('#' + delbtnId).show()
    
    var chck = $('#' + listId + ' option:selected').text();
    loadJson['name'] = chck;
    $.ajax({
        url : url,
        data : JSON.stringify(loadJson),
        type : 'POST',
        contentType:"application/json",
        dataType: 'json'
    }).done( function (res) {
        console.log("REs>>>>>", res)
        if (resultId === 'check-result') {
                console.log("id>>>>>>>>>>>>> ", res['id'])
                console.log('/checklist/delete/{{userid}}' + checkId)
                checkId = res['id'];
                delList('delcheckBtn','/checklist/delete/{{userid}}/', checkId, 'check-result')
            }
            else {
                memoId = res['id'];
                console.log('/memo/delete/{{userid}}/' + memoId)
                delList('delmemoBtn','/memo/delete/{{userid}}/', memoId, 'memo-result')
            }

        hbs(templateId, {'loadData':res}, resultId)
        closeModal(modalId)
    }).fail( function(res) {
        console.log("Error!", res)
    })
});
}
var title;
var content;
$(document).ready(function () {
    $.ajax({
        url: '/write/revision/{{userid}}/{{postid}}',
        type: 'GET'
    }).done(function (res) {
        title = res.title
        content = res.content
        console.log("title>>>>", title)
        console.log("content>>>>", content)
        $('#title').text(title)
        $('textarea#content').text(content)

    }).fail(function (res) {
        console.log("Error!!", res)
    });
    hbs('name-template', '', 'namelist');
});



loadCheckData('loadChcklist', '/checklist/{{userid}}', 'namelist')
loadCheckData('loadMemo', '/memo/{{userid}}', 'memolist')
function loadCheckData(buttonId, url, resultId) {
    $('#' + buttonId).click( function () {
        $.ajax({
            url : url,
            type : 'GET'
        }).done(function (res) {
            console.log("res>>>>>>", res)

            render(nametemplate, {'data':res}, resultId)

        }).fail(function(res) {
            console.log("Error!!! ", res)
        })
    })
}




$('#postBtn').click( function() {
    if ($('#inputIconEx2').val() == false) {
        alert("제목을 반드시 입력해주세요!")
        return false
    }
})
</script>

{%endblock main%}